{{!-- <div class="fixed-action-btn">
  <a class="btn-floating btn-small red">
    <i class="small material-icons"></i>
  </a>
  <ul>
    <li><a class="btn-floating btn-small red"><i class="material-icons"></i></a></li>
    <li><a class="btn-floating btn-small yellow darken-1"><i class="material-icons"></i></a></li>
    <li><a class="btn-floating btn-small green"><i class="material-icons"></i></a></li>
    <li><a class="btn-floating btn-small blue"><i class="material-icons"></i></a></li>
  </ul>
</div> --}}
      <div class="">
        <table class="highlight centered">
            <thead>
              <tr>
                  <th>Judul</th>
                  <th>penerbit</th>
                  <th>penulis</th>
                  <th>kategori</th>
                  <th>tahun</th>
                  <th>Cover</th>
                  <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
                {{#each books }}
                <tr>
                  <td>{{judul}}</td>
                  <td>{{penerbit}}</td>
                  <td>{{penulis}}</td>
                  <td>{{kategori}}</td>
                  <td>{{tahun}}</td>
                  <td>{{cover}}</td>
                  <td>
                     <a class="btn-floating btn-small red"><i class="small material-icons">delete</i></a>
                     <a class="btn-floating btn-small yellow lighten-1"><i class="small material-icons">update</i></a>
                     </td>
                </tr>
                {{/each}}
            </tbody>
          </table>         
      </div>